
<main-layout>
  
  <div left class="nav">

    <button mat-raised-button extended (click)="openDialog('add')" class="white-button">
      Agregar Usuario
    </button>

    <button mat-raised-button extended (click)="openDialog('search')" class="white-button">
      Buscar usuario
    </button>

    <button mat-raised-button extended (click)="openDialog('export')" class="white-button"> 
      Exportar usuarios
    </button>

  </div>

  <div right>
    <user-list [users]="users"></user-list>
  </div>

</main-layout>



