<main-layout>
  <div left>
    <!-- Contenido de la columna izquierda específico para esta vista -->
    <p>Contenido de la columna izquierda</p>
  </div>
  <div right>
    <!-- Contenido de la columna derecha específico para esta vista -->
    
    <table mat-table [dataSource]="users" class="mat-elevation-z8">

      <!-- User ID Column -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.user_id}} </td>
      </ng-container>
    
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
    
      <!-- Phone Number Column -->
      <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let user"> {{user.phone_number}} </td>
      </ng-container>
    
      <!-- Roles Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let user"> {{user.roles}} </td>
      </ng-container>
    
      <!-- Bounded To Column -->
      <ng-container matColumnDef="bounded_to">
        <th mat-header-cell *matHeaderCellDef> Bounded To </th>
        <td mat-cell *matCellDef="let user"> {{ decodeBase64(user.bounded_to)}} </td>
      </ng-container>
    
      <!-- Created At Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let user"> {{user.created_at | date:'short'}} </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let user"> {{user.status}} </td>
      </ng-container>
    
      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    
  </div>
</main-layout>
